@import url("colors.css");

#waybar {
  background-color: alpha(@background, 0.2);
  color: @primary_fixed;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  /* border-bottom: 1px solid @surface0; */
}

/* Space first and last modules evenly */
.modules-right:last-child {
  margin-right: 5px;
}
.modules-left:first-child {
  margin-left: 5px;
}

/* Make all the NF icons bigger */
#battery,
#sys-info,
#custom-notification,
#pulseaudio,
#backlight,
#custom-power-button,
#custom-keyboard,
/* Active and inactive states */
#network.wifi {
  color: @primary_fixed;
}
#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted,
#pulseaudio.source-muted {
  color: alpha(@primary_fixed, 0.7);
}

/* Selecting every widget "group" */
#workspaces,
#battery,
box.modules-right > box.horizontal,
#custom-notification,
#sys-info,
#custom-power-button,
#custom-keyboard,
#pomo {
  /* border: red solid 1px; */
  border-radius: 4px;
  margin: 5px 5px;
  padding: 0;
}
#pomo {
  padding: 0px;
}
#custom-notification {
  margin-left: 6px;
}

/* Styling workspace */
#workspaces,
#workspaces button,
#pulseaudio-slider,
#backlight-slider {
  /* border: 1px solid red; */
  all: unset;
}
#workspaces {
  margin: 0;
  border-radius: 4px;
}
#workspaces > button {
  padding: 0px 15px;
  font-weight: 900;
  font-size: 12px;
  border-radius: 0px;
}
#workspaces > button.empty {
  color: alpha(@primary_fixed, 0.3);
  /* border: 1px solid red; */
}
#workspaces > button.visible {
  color: @primary_fixed;
  /* border: 1px solid red; */
}
#workspaces > button.active {
  color: @primary_fixed;
  background: alpha(@primary_fixed, 0.1);
}
#workspaces > button:hover {
  background: alpha(@primary_fixed, 0.2);
}
#workspaces > button:first-child {
  border-radius: 4px 0px 0px 4px;
  padding-left: 16px;
}
#workspaces > button:last-child {
  border-radius: 0px 4px 4px 0px;
  padding-right: 20px;
}

/* Styling tray */
#tray {
  background-color: transparent;
  padding: 0px 0px;
  margin: 5px;
}
#tray .active image {
  /* border: solid 1px red; */
  margin: 0px;
  padding: 0px 5px;
}

/* Wifi module spaced away from bluetooth*/
#network,
#bluetooth {
  margin-right: 0;
}

#bluetooth {
  margin-right: 15px;
}
#network {
  margin-right: 0;
}

#submap {
  padding: 0 50px;
}

#cpu {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 7px;
}
#memory {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 7px;
}
#backlight {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 7px;
}
#pulseaudio {
  font-size: 12px;
  margin-right: 15px;
}
#pulseaudio.bluetooth {
  color: @primary_fixed;
}
/* Styling brightness and volume and slider */
#pulseaudio-slider,
#backlight-slider {
  /* margin-right: 15px; */
  /* border: solid 1px red; */
  border: none;
}
#pulseaudio-slider {
  margin-left: 5px;
  margin-right: 5px;
}
#backlight-slider {
  margin-left: 15px;
}
#pulseaudio-slider slider,
#backlight-slider slider {
  margin-left: -15px;
  min-width: 15px;
  min-height: 15px;
  background: transparent;
  box-shadow: none;
  padding: 0px;
}
#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 80px;
  border-radius: 5px;
}
#pulseaudio-slider highlight,
#backlight-slider highlight {
  border-radius: 5px;
  min-height: 8px;
}

/* Styling the clock */
#clock.date {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
}
#clock.time {
  padding: 0px;
  font-size: 12px;
}

/* Styling tooltips */
tooltip {
  border-radius: 15px;
  background: @surface0;
}
tooltip > box {
  padding: 15px;
}
tooltip label {
  color: @primary_fixed;
}
